<configuration>
<system.diagnostics>
    <sources>
      <source name="NumericsWSF" switchValue="Verbose">
        <listeners>
            <remove name="Default" />
            <add name="File" 
                 type="System.Diagnostics.TextWriterTraceListener" 
                 initializeData="NumericsWSF.log" />
        </listeners>
      </source>
    </sources>
</system.diagnostics>
</configuration>